@CHARSET "UTF-8";

#tinyQeWrapper #tinyQEMain {
    padding-bottom: 3px;
    border-bottom: 1px dashed #ccc;
}

#tinyQeWrapper table {
    width: 100%;
}

#tinyQeWrapper .emailForm td {
    vertical-align: top;
    padding-bottom: 5px;
}

#tinyQeWrapper .receiver {
    height: 44px;
}

#tinyQeWrapper .fullWidth {
    width: 100%;
    margin-top: 2px;
}

#tinyQeWrapper .paddingTop {
    padding-top: 3px;    
}

#tinyQeWrapper .descTdWidth {
    width: 90px;
}

#tinyQeWrapper .extendTdWidth {
    width: 115px;
}

#tinyQeWrapper #messagesReport ul {
    margin: 0px;
    padding: 0px;   
}

#tinyQeWrapper #messagesReport li {
    margin: 0px;
    padding: 0px;   
}

#tinyQeWrapper #izbornik {
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: 7px;
}

#tinyQeWrapper #izbornik li {
    display: inline;   
}

#tinyQeWrapper #izbornik li a {
    font-size: 1.2em;
}

#tinyQeWrapper .imgTdWidth {
    width: 25px;
}

#tinyQeWrapper .emailForm label {
    display: inline-block;
    margin-top: 2px;
}

#tinyQeWrapper .clear {
    clear: both;
}

#tinyQeWrapper .center {
    text-align: center;   
}

#tinyQeWrapper .customError, #tinyQeWrapper .customUpdated {
    padding: 3px 5px;
    font-size: 1.02em;
}

#tinyQeWrapper .customError {
    color: #c00;
}

#tinyQeWrapper .customUpdated {
    color: #7d7401;
}

#tinyQeWrapper .message {
    height: 120px;
}

#tinyQeWrapper #tqeSidebar {
    width: 120px;
}

#tinyQeWrapper #tqeSidebar a {
    font-size: 1.05em;
}

#tinyQeWrapper .alignLeft {
    text-align: left;
}

#tinyQeWrapper .alignRight {
    text-align: right;
}

#tinyQeWrapper .alignCenter {
    text-align: center;   
}

#tinyQeWrapper .listTable td {
    vertical-align: middle;
}

#tinyQeWrapper .marginTop5 {
    margin-top: 5px;
}